body {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ccc;
}

.header {
    border: 1px solid #ccc;
}

.header .menu {
    margin-left: 10px;
}

.header .menu ul {
    margin-bottom: -6px;
    text-decoration: none;
    padding-left: 0px;
}

.header .menu ul li {
    margin-left: 15px;
    height: 32px;
    line-height: 31px;
    border: 1px solid #ccc;
    width: 90px;
    list-style-type: none;
    float: left;
    text-align: center;
    font-size: 20px;
}

.header .menu ul li a {
    text-decoration: none;
    color: black;
    height: 101%;
    display: block;
}

.header .menu ul li a:hover {
    background-color: #9b9b9b;
}

#five_days {
    width: 88px;
}

#weather_history {
    width: 178px;
    height: 32px;
}

.both {
    clear: both;
}

.air_pollution {
    width: 100%;
    margin-top: 8px;
    border-top: 1px solid #ccc;
    height: 50px;
}

.air_pollution p {
    float: left;
    margin-left: 16px;
    margin-top: 17px;
}

.air_pollution input[type="search"] {
    float: right;
    margin-right: 26px;
    margin-top: 8px;
    height: 34px;
    padding-left: 27px;
    padding-right: 100px;
    border-radius: 7px;
    border-color: #ccc;
}

.air_pollution input[type="search"]:focus {
    outline: none;
}

.air_pollution button {
    float: right;
    border: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: relative;
    top: 18px;
    right: -24px;
    background-image: url(img/loupe.PNG);
}

.air_pollution button:focus {
    outline: none;
}

.left_block {
    left: 36px;
    top: 124px;
    position: absolute;
}

.left_block p {
    font-size: 33px;
    margin: 0;
}

.left_block img {
    position: absolute;
    top: 124px;
}

.left_block span {
    position: absolute;
    top: 148px;
    left: 139px;
    font-size: 33px;
}

.right_block {
    float: right;
}

.chance_rainfall,
.humidity,
.wind_speed {
    position: relative;
    top: 23px;
    right: 229px
}

.right_block p {
    padding: 0;
    margin: 0;
    font-size: 33px;
    line-height: 41px;
    right: 229px;
}

.weather_parametrs {
    position: relative;
    top: 47px;
    right: 286px;
}

.weather_button {
    width: 101%;
    padding: 13px;
}

.weather_button_optimize {
    width: 101%;
    padding: 6px;
}

.weather_parametrs ul {
    margin: 0;
}

.weather_parametrs ul li {
    text-align: center;
    margin-top: 25px;
    float: left;
    margin-left: 20px;
    list-style-type: none;
    border: 1px solid #ccc;

}

.weather_parametrs ul li a {
    display: block;
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: 17px;
    padding-top: 5px;
}

#temperature_button {
    width: 130px;
    line-height: 38px
}

#rainfall_button {
    width: 130px;
}

#wind_button {
    width: 108px;
    line-height: 38px;
}

.bottom_block {
    margin-top: 200px;
}

.icons_graph {
    position: relative;
    left: 59px;
    top: -25px;
}

.temperature_graph {
    margin-left: -14px;
}

.rainfall_graph {
    margin-left: -28px;
    margin-top: 10px;
}
.wind_graph{
   margin-top: 18px;
}
.time {
    margin-bottom: 5px
}

.time span {
    color: #ccc;
    font-size: 22px;
}

#time_wed {
    margin-left: 59px;
}

#time_th {
    margin-left: 68px;
}

#time_fr {
    margin-left: 67px;
}


#time_sa {
    margin-left: 73px;
}

#time_su {
    margin-left: 77px;
}

#time_mo {
    margin-left: 80px;
}

#time_tu {
    margin-left: 80px;
}

#time_wed2 {
    margin-left: 67px;
}

.icons_weather {}

#wed {
    margin-left: 25px;
}

#th {
    margin-left: -3px;
}

#fr {
    margin-left: -5px;
}

#sa {
    margin-left: -5px;
}

#su {
    margin-left: -6px;
}

#mo {
    margin-left: -4px;
}

#tu {
    margin-left: 1px;
}

#wed2 {
    margin-left: -4px;
}

.border:hover {
    outline: 3px solid #ccc
}

.footer {
    border: 1px solid #ccc
}

.footer p {
    text-align: center;
    font-size: 20px;
}
