.air_pollution {
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #979797;
	background-color: #f2f2f2;
	height: 49px;
}

.air_pollution span {
	float: left;
	font-size: 18px;
	margin: 16px 0px 0px 25px;
}

.air_pollution input[type="search"] {
	float: right;
	margin: 8px 26px 0px 0px;
	height: 34px;
	padding-left: 27px;
	border-radius: 7px;
	border-color: #ccc;
	background-color: #e4e4e4
}

.air_pollution input[type="search"]:focus {
	outline: none;
}

.air_pollution button {
	float: right;
	border: none;
	cursor: pointer;
	height: 21px;
	width: 19px;
	margin-top: 15px;
	margin-right: -25px;
	background-image: url(../assets/loupe.png);
}

.air_pollution button:focus {
	outline: none;
}

.content h1 {
	margin: 27px 0px 0px 30px;
}

.left_block {
	margin: 26px 0px 0px 50px;
	float: left;
}

.city_country,
.day_weeks,
.weather_types,
.show_weather {
	font-size: 26px;
	display: block;
	margin: 0;
}

.current_temperature_img {
	margin: 7px 0px 0px 0px;
	height: 91px;
	float: left;
	margin-top: 7px;
}

.current_temperature {
	font-size: 26px;
	width: 25px;
	float: right;
	margin: 24px 0px 0px 22px;
}

.right_block {
	float: right;
	margin-top: 27px;
}

.chance_rainfall,
.humidity,
.wind_speed {
	font-size: 26px;
	margin: 0px 163px;
}

.weather_button {
	width: 101%;
	padding: 11.7px;
	cursor: pointer;
}

.weather_button_optimize {
	width: 101%;
	padding: 4px;
	cursor: pointer;
}

.weather_parametrs ul {
	margin: 0px 120px;
}

.weather_parametrs ul li {
	text-align: center;
	margin: 25px 0px 0px 20px;
	float: left;
	list-style-type: none;
	border: 1px solid #ccc;
}

.weather_parametrs ul li a {
	display: block;
	text-decoration: none;
	color: black;
	height: 100%;
	font-size: 17px;
	padding-top: 5px;
}

#temperature_button,
#rainfall_button {
	width: 130px;
	margin: 26px 4px;
}

#wind_button {
	width: 108px;
	margin: 26px 4px;
}

.weather_button:hover {
	background-color: #9b9b9b;
}

.weather_button_optimize:hover {
	background-color: #9b9b9b;
}

.weather_button_optimize:focus {
	outline: none;
}

.weather_button:focus {
	outline: none;
}

.bottom_block {
	margin-left: 25px;
}

.icons_graph {
	display: inline-block;
	margin-top: 30px;
}

.figure_fixed {
	margin: 0;
}
.fade {
	display: none;
}
.temperature_graph {
	margin-left: 15px;
	width: 879px;
	height: 59px;
}

.rainfall_graph {
	margin: 10px 0px 0px 16px;
	width: 879px;
	height: 49px;
}

.wind_graph {
	margin: -13px 0px 0px 24px;
    width: 879px;
    height: 72px;
}

.time {
	margin: 0px 0px 5px 2px;
}

.time_day {
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 54px 0px 19px;
}

.name_day,
.name_day_img,
.degrees {
	margin: 0;
}

.day_week {
	margin: 5px 42px 5px 13px;
	text-align: center;
	display: inline-block;
}

.name_day {
	font-size: 20px;
	color: #ccc;
	font-weight: bold;
}

.degrees {
	font-size: 20px;
	color: #ccc;
	font-weight: bold;
}

.border:hover {
	outline: 3px solid #ccc;
}
